{% extends 'base.html' %}
{% load static %}
{% block title %} {{ model_3d.name }} {% endblock %}

{% block content %}
<h2 class="mb-4 text-3xl text-center">{{ model_3d.name }}</h2>
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3 p-6">
        
        <div class="border border-gray-300 rounded-xl shadow-lg overflow-hidden bg-gray-800"> <!-- Dark background -->
            <model-viewer 
                src="{% static model_3d.model_directory %}/{{ model_3d.model_file_name }}"
                alt="A 3D model of {{ model_3d.name }}" 
                shadow-intensity="1" 
                camera-controls 
                ar 
                style="width: 100%; height: 700px;" 
                orientation="0 0 0">
            </model-viewer>
        </div>
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl flex flex-col" style="height: 700px;"> <!-- Set height to match model viewer -->
        <div class="flex-grow"> 
            <p class="text-gray-500 mb-4"><strong>Price: </strong>{{ model_3d.price }}</p>
            <br>
            {% if model_3d.description %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Description:</strong><br>
                    {{ model_3d.description }}
                </p>
            {% endif %}
        </div>
        <div class="flex flex-col space-y-4"> <!-- Spacing between buttons -->
            <a href="#" class="inline-block px-2 py-3 font-semibold bg-pink-500 text-white rounded-xl hover:bg-pink-700">Add to Cart</a>
            <a href="/" class="inline-block px-2 py-3 font-semibold bg-black text-white rounded-xl hover:bg-gray-700">Back</a>
        </div>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Other Models</h2>
    <div class="grid grid-cols-3 gap-6"> 
        {% for r_model_3d in related_model_3d %}
        <div class="border border-4 border-teal-600 rounded-xl bg-gray-200"> <!-- Light background for related models -->
            <div>
                <div class="p-6">
                    <a href="{% url 'detail' r_model_3d.id %}"> 
                    <h2 class="mb-4 text-3xl text-center">{{ r_model_3d.name }}</h2>
                    </a>
                    <div class="border border-gray-300 rounded-xl shadow-lg overflow-hidden bg-gray-800"> <!-- Dark background for related models -->
                        <model-viewer 
                            src="{% static r_model_3d.model_directory %}/{{ r_model_3d.model_file_name }}"
                            alt="A 3D model of {{ r_model_3d.name }}" 
                            shadow-intensity="1" 
                            camera-controls 
                            ar 
                            style="width: 100%; height: 300px;"  
                            orientation="0 0 0">  
                        </model-viewer>
                    </div>
                </div>
            </div>
            <a href="{% url 'detail' r_model_3d.id %}"> 
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ r_model_3d.name }}</h2>
                    <p class="text-gray-500">Price: {{ r_model_3d.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


