
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>3D Models</h1>
    <style>
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      background-color: orange;
    }
    
    .flex-container > div {
      background-color: #f1f1f1;
      width: 50px;
      margin: 10px;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
    }
    </style>
  <div id="productCarousel" class="carousel slide relative rounded-xl" data-ride="carousel" data-interval="5000" style="min-height: 500px;">
    <div class="carousel-inner">
        {% for product in products %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div style="width: 100%; max-width: 600px; margin: auto;">
                <div class="col-span-2 p-6">
                    <div class="border border-gray-300 rounded-xl shadow-lg overflow-hidden bg-gray-800">
                        <model-viewer 
                            src="{% static product.model_directory %}/{{ product.model_file_name }}" 
                            alt="A 3D model of {{ product.name }}" 
                            shadow-intensity="1" 
                            camera-controls 
                            ar 
                            style="width: 100%; height: 400px;" 
                            orientation="0 0 0">
                        </model-viewer>
                    </div>
                    <a href="{% url 'detail' product.id %}">
                      <div class="p-2 bg-gray-800 rounded-xl text-center">
                          <h2 class="text-2xl font-bold text-white">{{ product.name }}</h2>
                          <p class="text-xl font-bold text-white">Price: {{ product.price }}</p>
                      </div>
                  </a>
                  
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Carousel controls -->
    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
      <img src="{% static 'images/icons8-previous-100.png' %}" alt="Previous" style="width: 100px; height: 100px;">
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
      <img src="{% static 'images/icons8-previous-100.png' %}" alt="Next" style="width: 100px; height: 100px; transform: scaleX(-1);">
      <span class="sr-only">Next</span>
  </a>

  
</div>

    
   
    
{% endblock %}